a.button {
  @include cta-button;
}

//adding specific styling for home page CTA as it currently' doesn't have it's own partial and I didn't want to make one for 3 lines of code

div.cta-section {

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    width: 100%;
  }

    a {
      width: fit-content;
    }
}

