//accordion styling

section.accordion-wrapper {
    margin: 0 auto;
    margin-bottom: $margin-bottom;

    .accordion {
        all: unset;
        border: 1px solid $color_brown;
        border-radius: 1rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        cursor: pointer;
        padding: clamp(0.5rem, 2vw, 1.5rem);
        text-align: left;
        outline: none;
        transition: background-color 0.5s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: clamp(18rem, 50vw, 64rem);
        max-width: 64rem;

        /* Arrow or X Icon on open / close */
        &:after {
            content: "\07CD"; /* Unicode for a down arrow */
            font-size: 1rem;
            position: absolute;
            right: 1rem;
            transition: transform 0.3s ease;
        }

        &.active {
            border: 0;
            font-weight: 700;
        }
        &:hover {
            background-color: $color__background-pre;
            border-color: $color_green_dark;
            font-weight: 700;
        }

        &.active::after {
            content: "\2715"; /* Unicode for an 'X' */
            transform: rotate(180deg);
        }
    }

    .accordion-content {
        max-height: 0;
        width: clamp(18rem, 50vw, 64rem);
        max-width: 64rem;
        margin: 0 auto;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
        p {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        &.show {
            max-height: 30rem; /* make this big enough enough to accommodate content */
            opacity: 1;
            transform: translateY(0);
            padding-top: 1rem;
            padding-bottom: 1rem;

            &.show p {
                opacity: 1;
            }
        }
    }
}
