.single-collection-container {
  margin-bottom: 3rem;
  a {
    display: block;
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    h3,
    h2 {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 30%;
      left: 0;
      background-color: $color_light_gray;
      color: $color_black;
      margin: 0;
    }
  }
}

.products.columns-4 {
  li a {
    h2 {
      padding: 1rem;
    }
  }
}

@media screen and (min-width: $desktop_break) {
  .single-collection-container {
    img {
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    a {
      h3,
      h2 {
        transition: 0.5s ease;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }

    &:hover {
      img {
        opacity: 0.3;
      }
      h3,
      h2 {
        opacity: 1;
      }
    }
  }
}
