.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

//styling specific to the featured in section of the home page
.featured-in-gallery {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .gallery-item {
    margin: 1rem; //adjust this based on the variables ryan adds
    img {
      width: 100%;
    }
  }
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {
  .gallery-columns-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

.gallery-caption {
  display: block;
}

//styling specific to the masonry section on the home page
.home-masonry {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
  }
  .gallery-item {
    img {
      object-fit: cover;
      height: 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 48em) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1rem;
    }
    .gallery-item:nth-child(1) {
      grid-row: span 13;
    }
    .gallery-item:nth-child(2) {
      grid-row: span 15;
    }
    .gallery-item:nth-child(3) {
      grid-row: span 11;
    }
    .gallery-item:nth-child(4) {
      grid-row: span 10;
    }
    .gallery-item:nth-child(5) {
      grid-row: span 13;
    }
    .gallery-item:nth-child(6) {
      grid-row: span 12;
    }
  }
}
