// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    calc(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Primary CTA button
@mixin cta-button {
  font-weight: bold;
  background-color: $color_green_dark;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  color: $color_white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease-in-out;

  &:focus,
  &:hover {
    transform: scale(1.01);
    filter: brightness(1.5);
    border: 2px;
    border-color: $color_white;
    text-shadow: 1px 1px 1px $color_black;
  }
}

@mixin site-margins {
  margin: 0 $space-s-2xl;
}

@mixin bw-hover {
  transition: 0.5s ease-in-out;
  filter: brightness(0.7);

  &:hover {
    transform: scale(1.01);
    filter: brightness(1);
  }
}
