:root {
  --header-height: 100px;
}
.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
  padding: 0 $space-s-2xl;

  &span.count {
    color: $color_white;
  }

  svg {
    g {
      fill: $color_white;
    }
  }

  .menu-toggle svg path {
    stroke: $color_white;
  }

  .site-branding {
    display: flex;
    align-items: center;

    .custom-logo-link {
      margin-top: 10px;
      margin-right: 10px;
      img {
        max-width: 60px;
        height: auto;
      }
    }

    .site-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $color_black;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .main-navigation {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    .menu-menu-1-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .nav-menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 20px;
        list-style: none;

        a {
          text-decoration: none;
          color: $color_white;
          font-weight: bold;
          transition: color 0.3s;

          &:hover {
            color: $color_black;
          }
        }
      }
    }

    &.active .nav-menu {
      display: flex;
      flex-direction: column;
    }
  }

  .site-header-cart {
    margin-left: 10px;
    position: relative;

    li {
      list-style: none;
    }

    .cart-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;

      svg {
        margin-bottom: 5px;
      }

      .count {
        font-size: 0.9rem;
        color: $color_white;
      }
    }

    .widget_shopping_cart {
      display: none;
      background-color: $color_white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 12px $color_black;
      position: absolute;
      top: 100%;
      right: 0;
      transform: translateY(20px);
      transition: all 0.3s ease;
      z-index: 10000;
      max-height: 400px;
      overflow-y: auto;
    }

    &:hover .widget_shopping_cart {
      display: block;
      transform: translateY(0);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .site-header-cart:hover .widget_shopping_cart {
      display: none;
    }
  }
}

.site-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-toggle {
  all: unset;
  display: block;
  z-index: 1001;
  svg {
    margin-bottom: 10px;
  }
}

.main-navigation {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    padding-top: var(--header-height);
    margin-top: 111px;
    background-color: $color_green_dark;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .nav-menu a {
    color: $color_black;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: $color_green_dark;
    }
  }

  &.active .nav-menu {
    display: flex;
    transform: translateY(0);
  }
}

/* Desktop styles */
@media (min-width: 48em) {
  .widget.woocommerce.widget_shopping_cart {
    width: 600px;

    .widget_shopping_cart_content {
      padding: 15px;
    }

    .woocommerce-mini-cart-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $color_white;
      padding-bottom: 10px;

      .remove.remove_from_cart_button {
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        text-align: center;
        color: $color_black;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        left: 0;

        &:hover {
          color: $color_green_med;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color_black;
        font-size: 0.85rem;
        margin-left: 35px;

        &:hover {
          color: $color_green_med;
        }

        img {
          width: 50px;
          height: auto;
          border-radius: 8px;
          object-fit: cover;
          margin-right: 10px;
        }
      }

      .quantity {
        margin-left: auto;
        font-size: 0.85rem;
        color: $color_black;
        position: absolute;
        right: 25px;
      }
    }

    .woocommerce-mini-cart__total {
      font-size: 0.9rem;
      color: $color_black;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid $color_white;
    }

    .woocommerce-mini-cart__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .button {
        padding: 8px 12px;
        font-size: 0.85rem;
        border-radius: 5px;
        background-color: $color_green_med;
        color: $color_white;

        &:hover {
          background-color: $color_black;
        }
      }
    }
  }

  .custom-logo-link img {
    max-width: 60px;
    height: auto;
  }

  .site-title {
    margin-left: 10px;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color_black;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .site-header {
    height: auto;

    .main-navigation {
      .nav-menu {
        gap: 20px;
        display: flex;
        flex-direction: row;
        transform: unset;
        height: auto;
        background-color: unset;
        position: static;
        z-index: 1000;

        li {
          margin: 0;

          a {
            line-height: 5.0625rem;
          }
        }
      }
    }

    .menu-toggle {
      display: none;
    }
  }
}

/* Scrolled header styles */
.scrolled {
  backdrop-filter: blur(10px);
  background-color: $color_light_gray;

  & img.custom-logo {
    filter: invert(1);
  }

  &.site-header .main-navigation .nav-menu li a {
    color: $color_black;
  }

  &.site-header .site-header-cart .cart-contents {
    .count {
      color: $color_black;
    }

    svg g {
      fill: $color_black;
    }
  }

  &.site-header .menu-toggle svg path {
    stroke: $color_black;
  }
}
