a {
	color: $color__link;
	text-decoration: none;
	text-shadow: none;
	transition: color 0.4s ease-in-out ;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		// text-shadow: 1px 1px 2px $color_black;

	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

