// Breakpoints


// MAKE THEM EMS
$mobile_break: 20em; // 320px
$tablet_break: 48em; // 768px
$desktop_break: 64em; // 1024px
$desktop_large_break: 64em; // 1024px

// Max Width
$max-width: 120rem; // 1920px

