$size__site-main: 100%;
$size__site-sidebar: 25%;

// Margin - left and right //
$space-s-2xl: clamp(1rem, -0.1429rem + 5.7143vw, 5rem);

// Margin - botton - used for section spacing consistency //
$margin-bottom: 5rem;

$header-height : 6.25rem